div.page-header{
  color: lightblue;
  text-align: center;
}
.page-footer{
  color: lightblue;
  text-align: right;
  right: 2rem;
  position: absolute;
  bottom: 2rem;
}
.row{
  margin-bottom:10px; 
}
td.text-center{
	padding: 15px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.instruc{
  text-align: right;
  flex: 1;
  margin-right: 2rem;
}
